@mixin tablet {
    @media (min-width: 768px){
        @content;
    }
}

@mixin desktop {
    @media (min-width:1280px){
        @content;
    }
}



@mixin displayType($justify-content:center, $flex-direction: row, $align-items: center, $flex-wrap: wrap){
    display: flex;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}