@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  background-color: #323232;
  padding-top: 3vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 2vh 2vw;
    height: 8vh;
  }
}
.navbar__logo {
  width: 7.5rem;
  height: 1.25rem;
}
@media (min-width: 768px) {
  .navbar__logo {
    padding-bottom: 4vh;
    padding-left: 5vw;
  }
}
@media (min-width: 1280px) {
  .navbar__logo {
    padding-left: 10vw;
    padding-bottom: 12vh;
  }
}
.navbar__right {
  width: 100%;
}
@media (min-width: 768px) {
  .navbar__right {
    width: 30%;
  }
}
@media (min-width: 1280px) {
  .navbar__right {
    width: 20%;
  }
}
.navbar__list {
  display: flex;
  justify-content: space-around;
  flex-direction: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1vw;
  position: relative;
}
@media (min-width: 768px) {
  .navbar__list {
    width: 40vw;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .navbar__list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2vw;
    padding-bottom: 8vh;
    width: 100%;
  }
}
.navbar__items-link {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .navbar__items-link {
    font-size: 1rem;
    padding-bottom: 5vh;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .navbar__items-link {
    font-size: 1.2rem;
  }
}

.footer {
  background-color: #323232;
  font-family: "Avenir";
  font-style: normal;
  color: white;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}
@media (min-width: 768px) {
  .footer {
    padding: 3rem 1.25rem 2.25rem 2.25rem;
    position: relative;
  }
}
.footer__title {
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__title {
    margin-bottom: 2.25rem;
  }
}
.footer__nav-social {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 30%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__nav-social {
    position: absolute;
    left: 35%;
    top: 15%;
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__nav-social {
    left: 28%;
  }
}
.footer__image-social {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1.5rem;
}
.footer__contact-person {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}
@media (min-width: 768px) {
  .footer__contact-person {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__contact-person {
    width: 75%;
    margin-bottom: 3rem;
  }
}
.footer__card-person {
  margin-bottom: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .footer__card-person {
    width: 33%;
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
.footer__name-contact {
  font-weight: 600;
}
.footer__position {
  font-weight: 600;
}
@media (min-width: 768px) {
  .footer__position {
    margin-bottom: 1.5rem;
  }
}
.footer__option, .footer__email {
  margin-bottom: 1rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__option, .footer__email {
    margin-bottom: 1.5rem;
  }
}
.footer__logo-contact {
  margin: 3rem 0 1rem;
}
@media (min-width: 768px) {
  .footer__logo-contact {
    position: absolute;
    right: 5%;
    top: 5%;
  }
}
@media (min-width: 1280px) {
  .footer__logo-contact {
    right: 8%;
  }
}
.footer__image-logo {
  width: 7.5rem;
  height: 1.25rem;
}
.footer__copyright {
  width: 100%;
}
.navbar__items-link--active {
  font-weight: 600;
  color: white;
}
@media (min-width: 768px) {
  .navbar__items-link--active {
    padding-bottom: 10.5%;
    border-bottom: 3px solid white;
  }
}
@media (min-width: 1280px) {
  .navbar__items-link--active {
    padding-bottom: 15.5%;
  }
}
.navbar__items-link--active::after {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  background-color: white;
  width: 50%;
  margin-top: 2vh;
  left: 0%;
}
@media (min-width: 768px) {
  .navbar__items-link--active::after {
    display: none;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero__heading {
  position: absolute;
  color: white;
  font-size: 2rem;
  line-height: 32px;
  font-weight: 600;
  padding-left: 5vw;
  padding-bottom: 0.8rem;
}
@media (min-width: 768px) {
  .hero__heading {
    font-size: 60px;
    padding-top: 5vw;
  }
}
@media (min-width: 1280px) {
  .hero__heading {
    font-size: 5rem;
    font-weight: 600;
    margin-left: 5vw;
    padding-bottom: 30vh;
  }
}
.hero__image {
  width: 100%;
  margin-top: -1rem;
  position: relative;
  z-index: -1;
  opacity: 0.9;
}

.about {
  padding-left: 5vw;
}
.about__heading {
  font-weight: 600;
  color: #323232;
}
@media (min-width: 768px) {
  .about__heading {
    font-size: 36px;
    line-height: 44px;
  }
}
@media (min-width: 1280px) {
  .about__heading {
    font-size: 3rem;
    line-height: 44px;
    padding-left: 5vw;
  }
}
.about__image {
  width: 95%;
}
@media (min-width: 768px) {
  .about__image {
    width: 80%;
    margin-left: 8vw;
  }
}
@media (min-width: 1280px) {
  .about__image {
    width: 72%;
    height: 60vh;
    padding-top: 2vh;
    margin-left: 12vw;
  }
}
.about__quote {
  width: 96%;
  font-weight: 600;
  font-size: 0.9rem;
  color: #323232;
  line-height: 22px;
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 24px;
    line-height: 32px;
    width: 83%;
    margin-left: 8vw;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    font-size: 2rem;
    line-height: 32px;
    width: 60%;
    margin-left: 12vw;
    line-height: 2.5rem;
  }
}
.about__quote-author {
  color: #323232;
  font-weight: 600;
  padding-bottom: 2vh;
}
@media (min-width: 768px) {
  .about__quote-author {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-left: 8vw;
  }
}
@media (min-width: 1280px) {
  .about__quote-author {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-left: 12vw;
  }
}
.about__subheader {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 18px;
}
@media (min-width: 768px) {
  .about__subheader {
    color: #323232;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 32px;
    margin-left: 8vw;
    padding-top: 5vh;
    width: 90%;
  }
}
@media (min-width: 1280px) {
  .about__subheader {
    font-size: 1.7rem;
    padding-top: 5vh;
    padding-left: 4vw;
  }
}
.about__text {
  font-weight: 400;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .about__text {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    line-height: 22px;
    margin: 0 8vw;
    width: 90%;
  }
}
@media (min-width: 1280px) {
  .about__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    line-height: 22px;
    margin: 0 12vw;
    width: 74%;
  }
}
.about__text__paragraphs {
  width: 91%;
  color: #323232;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 2.5vh;
}
@media (min-width: 768px) {
  .about__text__paragraphs {
    font-size: 0.866rem;
    padding-right: 6vw;
    line-height: 3vh;
  }
}
@media (min-width: 1280px) {
  .about__text__paragraphs {
    font-size: 1.2rem;
    padding-right: 1.2vw;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding-bottom: 3vh;
}
.gallery__heading {
  padding-top: 3vh;
  padding-left: 5vw;
  color: #323232;
  font-weight: 600;
}
@media (min-width: 768px) {
  .gallery__heading {
    font-size: 36px;
    padding-top: 7vh;
  }
}
@media (min-width: 1280px) {
  .gallery__heading {
    font-size: 2.5rem;
    margin-left: 5vw;
  }
}
.gallery__section {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .gallery__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 2vw;
  }
}
@media (min-width: 1280px) {
  .gallery__section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7vw;
    width: 90%;
  }
}
.gallery__images {
  width: 94%;
  margin: 1vh 3vw;
}
@media (min-width: 768px) {
  .gallery__images {
    width: 29%;
    margin: 2vh 0vw;
  }
}
@media (min-width: 1280px) {
  .gallery__images {
    width: 28%;
  }
}

.comments {
  padding-left: 5vw;
}
.comments__heading {
  color: #323232;
}
@media (min-width: 1280px) {
  .comments__heading {
    font-size: 3rem;
    font-weight: 600;
    padding-left: 5vw;
  }
}
.comments__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 0.1rem solid #E1E1E1;
  width: 95%;
  padding-left: 25vw;
}
@media (min-width: 1280px) {
  .comments__container {
    padding-left: 1vw;
    margin-left: 25vw;
    width: 36%;
  }
}
.comments__container--image {
  max-height: 4rem;
  max-width: 4rem;
  margin-top: 1.6rem;
  -webkit-clip-path: circle(35% at 40% 50%);
          clip-path: circle(35% at 40% 50%);
}
.comments__form {
  color: #AFAFAF;
  font-weight: 400;
  width: 85%;
  display: flex;
  flex-direction: column;
  padding-right: 4vw;
}
.comments__form--label {
  color: #AFAFAF;
  font-weight: 600;
  font-size: 0.7rem;
  padding-bottom: 1vh;
}
.comments__form--name {
  width: 95%;
  height: 4vh;
  border: 0.06rem solid #E1E1E1;
  border-radius: 0.3rem;
  margin-bottom: 3vh;
  background-color: #FAFAFA;
}
.comments__form ::-moz-placeholder {
  color: #323232;
  padding-left: 3vw;
}
.comments__form :-ms-input-placeholder {
  color: #323232;
  padding-left: 3vw;
}
.comments__form ::placeholder {
  color: #323232;
  padding-left: 3vw;
}
.comments__form--comment {
  width: 95%;
  height: 14vh;
  border: 0.06rem solid #E1E1E1;
  border-radius: 0.3rem;
  margin-bottom: 3vh;
  background-color: #FAFAFA;
  resize: none;
}
.comments__form ::-moz-placeholder {
  color: #323232;
  padding-left: 3vw;
  padding-top: 1vh;
}
.comments__form :-ms-input-placeholder {
  color: #323232;
  padding-left: 3vw;
  padding-top: 1vh;
}
.comments__form ::placeholder {
  color: #323232;
  padding-left: 3vw;
  padding-top: 1vh;
}
.comments__form--button {
  color: white;
  font-size: 1rem;
  background-color: #323232;
  height: 6vh;
  width: 97%;
  border: 0.06rem solid #323232;
  border-radius: 0.3rem;
  margin-bottom: 3vh;
}
@media (min-width: 1280px) {
  .comments__form--button {
    width: 45%;
    height: 5vh;
    margin-left: 18vw;
  }
}
.comments__display {
  position: relative;
}
.comments__display--image {
  height: 9rem;
  width: 9rem;
  -webkit-clip-path: circle();
          clip-path: circle();
  background-color: #E1E1E1;
  margin-right: 1rem;
}
.comments__display--name {
  color: #323232;
  font-weight: 600;
}
.comments__display--date {
  color: #AFAFAF;
  display: inline-block;
}
.comments__display--container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}
.comments__display-text {
  font-size: 0.8rem;
}
@media (min-width: 1280px) {
  .comments__display-text {
    font-size: 1rem;
  }
}
.comments__display--delete {
  display: none;
}

.modal {
  display: none;
}
.modal :enabled {
  display: block;
}/*# sourceMappingURL=bio.css.map */