@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  background-color: #323232;
  padding-top: 3vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 2vh 2vw;
  }
}
@media (min-width: 1280px) {
  .navbar {
    padding: 1.5rem 6rem;
  }
}
.navbar__logo {
  width: 7.5rem;
  height: 1.25rem;
}
.navbar__right {
  width: 100%;
}
@media (min-width: 768px) {
  .navbar__right {
    width: 30%;
  }
}
@media (min-width: 1280px) {
  .navbar__right {
    width: 20%;
  }
}
.navbar__list {
  display: flex;
  justify-content: space-around;
  flex-direction: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1vw;
  position: relative;
}
@media (min-width: 768px) {
  .navbar__list {
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 3vw;
  }
}
@media (min-width: 1280px) {
  .navbar__list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2vw;
  }
}
.navbar__items-link {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 1280px) {
  .navbar__items-link__items-link--hover:hover {
    border-bottom: 3px solid white;
    padding-bottom: 65%;
  }
}

.footer {
  background-color: #323232;
  font-family: "Avenir";
  font-style: normal;
  color: white;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}
@media (min-width: 768px) {
  .footer {
    padding: 3rem 1.25rem 2.25rem 2.25rem;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer {
    width: 95%;
  }
}
.footer__title {
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__title {
    margin-bottom: 2.25rem;
  }
}
.footer__nav-social {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 30%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__nav-social {
    position: absolute;
    left: 35%;
    top: 15%;
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__nav-social {
    left: 28%;
  }
}
.footer__image-social {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1.5rem;
}
.footer__contact-person {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}
@media (min-width: 768px) {
  .footer__contact-person {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__contact-person {
    width: 75%;
    margin-bottom: 3rem;
  }
}
.footer__card-person {
  margin-bottom: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .footer__card-person {
    width: 33%;
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
.footer__name-contact {
  font-weight: 600;
}
.footer__position {
  font-weight: 600;
}
@media (min-width: 768px) {
  .footer__position {
    margin-bottom: 1.5rem;
  }
}
.footer__option, .footer__email {
  margin-bottom: 1rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__option, .footer__email {
    margin-bottom: 1.5rem;
  }
}
.footer__logo-contact {
  margin: 3rem 0 1rem;
}
@media (min-width: 768px) {
  .footer__logo-contact {
    position: absolute;
    right: 5%;
    top: 5%;
  }
}
@media (min-width: 1280px) {
  .footer__logo-contact {
    right: 8%;
  }
}
.footer__image-logo {
  width: 7.5rem;
  height: 1.25rem;
}
.footer__copyright {
  width: 100%;
}
.navbar__items-link--active {
  font-weight: 600;
  color: white;
}
@media (min-width: 768px) {
  .navbar__items-link--active {
    padding-bottom: 36%;
    border-bottom: 3px solid white;
  }
}
@media (min-width: 1280px) {
  .navbar__items-link--active {
    padding-bottom: 40%;
  }
}
.navbar__items-link--active::after {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  background-color: white;
  width: 50%;
  margin-top: 2vh;
  left: 0%;
}
@media (min-width: 768px) {
  .navbar__items-link--active::after {
    display: none;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero__heading {
  position: absolute;
  color: white;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  padding-left: 5vw;
}
@media (min-width: 768px) {
  .hero__heading {
    font-size: 60px;
    padding-top: 5vw;
  }
}
@media (min-width: 1280px) {
  .hero__heading {
    font-size: 60px;
    font-weight: 600;
    margin-left: 5vw;
  }
}
.hero__image {
  width: 100%;
  margin-top: -1rem;
  position: relative;
  z-index: -1;
  opacity: 0.9;
}

.about {
  padding-left: 5vw;
}
.about__heading {
  font-weight: 600;
  color: #323232;
}
@media (min-width: 768px) {
  .about__heading {
    font-size: 36px;
    line-height: 44px;
  }
}
@media (min-width: 1280px) {
  .about__heading {
    font-size: 36px;
    line-height: 44px;
    padding-left: 5vw;
  }
}
.about__image {
  width: 95%;
}
@media (min-width: 768px) {
  .about__image {
    width: 80%;
    margin-left: 8vw;
  }
}
@media (min-width: 1280px) {
  .about__image {
    width: 72%;
    height: 60vh;
    padding-top: 2vh;
    margin-left: 12vw;
  }
}
.about__quote {
  font-weight: 600;
  font-size: 18.2px;
  color: #323232;
  line-height: 22px;
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 24px;
    line-height: 32px;
    width: 83%;
    margin-left: 8vw;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    font-size: 24px;
    line-height: 32px;
    width: 59%;
    margin-left: 12vw;
  }
}
.about__quote-author {
  color: #323232;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__quote-author {
    font-weight: 600;
    color: #323232;
    font-size: 18px;
    line-height: 22px;
    margin-left: 8vw;
  }
}
@media (min-width: 1280px) {
  .about__quote-author {
    font-weight: 600;
    color: #323232;
    font-size: 18px;
    line-height: 22px;
    margin-left: 12vw;
  }
}
.about__subheader {
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  color: #323232;
}
@media (min-width: 768px) {
  .about__subheader {
    font-size: 24px;
    line-height: 32px;
    margin-left: 8vw;
    padding-top: 5vh;
    width: 90%;
  }
}
@media (min-width: 1280px) {
  .about__subheader {
    font-size: 24px;
    line-height: 32px;
    margin-left: 12vw;
    padding-top: 5vh;
  }
}
.about__text {
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__text {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    line-height: 22px;
    margin: 0 8vw;
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .about__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    line-height: 22px;
    margin: 0 12vw;
    width: 69%;
  }
}
.about__text__paragraphs {
  width: 94%;
  color: #323232;
  font-weight: 400;
}

.gallery {
  background-color: #FAFAFA;
}
.gallery__heading {
  padding-top: 3vh;
  padding-left: 5vw;
  color: #323232;
  font-weight: 600;
}
@media (min-width: 768px) {
  .gallery__heading {
    font-size: 36px;
    padding-top: 7vh;
  }
}
@media (min-width: 1280px) {
  .gallery__heading {
    font-size: 36px;
    margin-left: 5vw;
  }
}
.gallery__images {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .gallery__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 2vw;
  }
}
@media (min-width: 1280px) {
  .gallery__images {
    display: flex;
    flex-wrap: wrap;
    margin-left: 9vw;
  }
}
.gallery__images img {
  width: 94%;
  margin: 1vh 3vw;
}
@media (min-width: 768px) {
  .gallery__images img {
    width: 29%;
    margin: 2vh 0vw;
  }
}
@media (min-width: 1280px) {
  .gallery__images img {
    width: 28%;
    margin: 1vh 1vw;
  }
}/*# sourceMappingURL=bio.css.map */