@use "partials/colors" as *;
@use "partials/variables" as *;
@use "partials/mixins" as *;
@use "partials/fonts" as *;
// Default
body{
    margin: 0;
    padding: 0;
}
// navigation bar
@include mobile{
    .navbar{
        background-color: $bandsite-black;
        padding-top: 3vh;
        .logo{
            margin-left: 30vw;
        }
        &__list{
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            margin-right: 10vw;
            &-links{
                text-decoration: none;
                color: white;
                font-size: 14px;
                font-family: $font-avenir-demi;
                line-height: 22px;
            }
        }
    }
    .hero_section{
        display: flex;
        align-items: center;
        justify-content:flex-start;
        .hero__image{
            width:100%;
            margin-top: -1rem;
            position: relative;
            z-index: -1;
        }
        .hero_heading{
            position: absolute;
            color: white;
            font-size: 24px;
            line-height: 32px;
            font-family: $font-avenir-demi;
            padding-left: 5vw;
        }
    }
    .about_section{
        h1{
            font-family: $font-avenir-demi;
            padding-left: 5vw;
            color: $bandsite-black;
        }
        img{
            width: 90%;
            padding-left: 5vw;
        }
        .about_paragraph{
            font-family: $font-avenir-demi;
            font-size: 18.2px;
            margin-right: 5vw;
            color: $bandsite-black;
            line-height: 22px;
        }
        h3{
            padding-left: 5vw;
            font-family: $font-avenir-demi;
            font-size: 14px;
            line-height: 18px;
            color: $bandsite-black;
        }
        p{
            width: 94%;
            padding-left: 5vw;
            color: $bandsite-black;
        }
       
    }
    .photo_gallery{
        background-color: $alabaster;
        h2{
            padding-top: 3vh;
            padding-left: 5vw;
            color: $bandsite-black;
            font-family: $font-avenir-demi;
        }
        .gallery_images{
            display: flex;
            flex-wrap: wrap;
            img{
                width: 94%;
                margin: 1vh 3vw;
            }
        }
    }
}
