@use "partials/colors" as *;
@use "partials/mixins" as *;
@use "partials/fonts" as *;
@use "./partials/global" as *;
// Default
// navigation bar
.navbar {
    &__items-link--active {
        font-weight: 600;
        color: white;
        @include tablet {
            padding-bottom: 10.5%;
            border-bottom: 3px solid white;
        }
        @include desktop {
            padding-bottom: 15.5%;
        }
        &::after {
            display: block;
            position: absolute;
            content: "";
            height: 3px;
            background-color: white;
            width: 50%;
            margin-top: 2vh;
            left: 0%;
            @include tablet {
                display: none;
            }
        }
    }
}

//hero
.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__heading {
        position: absolute;
        color: white;
        font-size: 2rem;
        line-height: 32px;
        font-weight: 600;
        padding-left: 5vw;
        padding-bottom: 0.8rem;
        @include tablet {
            font-size: 60px;
            padding-top: 5vw;
        }
        @include desktop {
            font-size: 5rem;
            font-weight: 600;
            margin-left: 5vw;
            padding-bottom: 30vh;
        }
    }
    &__image {
        width: 100%;
        margin-top: -1rem;
        position: relative;
        z-index: -1;
        opacity: 0.90;
    }
}

.about {
    padding-left: 5vw;
    &__heading {
        font-weight: 600;
        color: $bandsite-black;
        @include tablet {
            font-size: 36px;
            line-height: 44px;
        }
        @include desktop {
            font-size: 3rem;
            line-height: 44px;
            padding-left: 5vw;
        }
    }
    &__image {
        width: 95%;
        @include tablet {
            width: 80%;
            margin-left: 8vw;
        }
        @include desktop {
            width: 72%;
            height: 60vh;
            padding-top: 2vh;
            margin-left: 12vw;
        }
    }
    &__quote {
        width: 96%;
        font-weight: 600;
        font-size: 0.9rem;
        color: $bandsite-black;
        line-height: 22px;
        @include tablet {
            font-size: 24px;
            line-height: 32px;
            width: 83%;
            margin-left: 8vw;
        }
        @include desktop {
            font-size: 2rem;
            line-height: 32px;
            width: 60%;
            margin-left: 12vw;
            line-height: 2.5rem;
        }
        &-author {
            color: $bandsite-black;
            font-weight: 600;
            padding-bottom: 2vh;
            @include tablet {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                margin-left: 8vw;
            }
            @include desktop {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                margin-left: 12vw;
            }
        }
    }
    &__subheader {
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 18px;
        @include tablet {
            color: $bandsite-black;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 32px;
            margin-left: 8vw;
            padding-top: 5vh;
            width: 90%;
        }
        @include desktop {
            font-size: 1.7rem;
            padding-top: 5vh;
            padding-left: 4vw;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 0.9rem;
        @include tablet {
            display: flex;
            align-items: flex-start;
            font-size: 14px;
            line-height: 22px;
            margin: 0 8vw;
            width: 90%;
        }
        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            font-size: 14px;
            line-height: 22px;
            margin: 0 12vw;
            width: 74%;
        }
        &__paragraphs {
            width: 91%;
            color: $bandsite-black;
            font-weight: 400;
            font-size: 0.8rem;
            line-height: 2.5vh;
            @include tablet{
                font-size: 0.866rem;
                padding-right: 6vw;
                line-height: 3vh;
            }
            @include desktop{
                font-size: 1.2rem;
                padding-right: 1.2vw;
            }
        }
    }
}

.gallery {
    background-color: $alabaster;
    padding-bottom: 3vh;
    &__heading {
        padding-top: 3vh;
        padding-left: 5vw;
        color: $bandsite-black;
        font-weight: 600;
        @include tablet {
            font-size: 36px;
            padding-top: 7vh;
        }
        @include desktop {
            font-size: 2.5rem;
            margin-left: 5vw;
        }
    }
    &__section {
        display: flex;
        flex-wrap: wrap;
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-left: 2vw;
        }
        @include desktop {
            display: flex;
            flex-wrap: wrap;
            margin-left: 7vw;
            width: 90%;
        }
    }
    &__images {
            width: 94%;
            margin: 1vh 3vw;
            @include tablet {
                width: 29%;
                margin: 2vh 0vw;
            }
            @include desktop {
                width: 28%;
            }
        }
}

.comments {
    padding-left: 5vw;
    &__heading {
        color: $bandsite-black;
        @include desktop{
            font-size: 3rem;
            font-weight: 600;
            padding-left: 5vw;
        }
    }
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 0.1rem solid $mercury;
        width: 95%;
        @include desktop{
            padding-left: 1vw;
            margin-left: 25vw;
            width: 36%;
        }
        &--image {
            max-height: 4rem;
            max-width: 4rem;
            margin-top: 1.6rem;
            clip-path: circle(35% at 40% 50%);
        }
        padding-left: 25vw;
    }
    &__form {
        color: $silver;
        font-weight: 400;
        width: 85%;
        display: flex;
        flex-direction: column;
        padding-right: 4vw;
        &--label {
            color: $silver;
            font-weight: 600;
            font-size: 0.7rem;
            padding-bottom: 1vh;
        }
        &--name {
            width: 95%;
            height: 4vh;
            border: 0.06rem solid $mercury;
            border-radius: 0.3rem;
            margin-bottom: 3vh;
            background-color: $alabaster;
        }
        ::placeholder{
                color: $bandsite-black;
                padding-left: 3vw;
            }
        &--comment {
            width: 95%;
            height: 14vh;
            border: 0.06rem solid $mercury;
            border-radius: 0.3rem;
            margin-bottom: 3vh;
            background-color: $alabaster;
            resize: none;
        }
        ::placeholder{
            color: $bandsite-black;
            padding-left: 3vw;
            padding-top: 1vh;
        }
        &--button {
            color: white;
            font-size: 1rem;
            background-color: $bandsite-black;
            height: 6vh;
            width: 97%;
            border: 0.06rem solid $bandsite-black;
            border-radius: 0.3rem;
            margin-bottom: 3vh;
            @include desktop{
                width: 45%;
                height: 5vh;
                margin-left: 18vw;
            }
        }
    }
    
    &__display {
        position: relative;
        
        &--image {
            height: 9rem;
            width: 9rem;
            clip-path: circle();
            background-color: $mercury;
            margin-right: 1rem;
        }
        &--name {
            color: $bandsite-black;
            font-weight: 600;
        }
        &--date {
            color: $silver;
            display: inline-block;
        }
        &--container{
            display: flex;
            flex-direction:row-reverse;
            align-items: center;
            position: absolute;
            right: 0;
            top: 0;
        }
        &-text{
            font-size: 0.8rem;
            @include desktop{
                font-size: 1rem;
            }
        }
        &--delete{
            display: none;
        }
    }
}
.modal{
    display:none;
    :enabled{
        display: block;
    }
}