@use "partials/colors" as *;
@use "partials/mixins" as *;
@use "partials/fonts" as *;
@use "partials/global" as *;

//navbar underline
.navbar{
  &__items-link--hover{
        font-weight: 600;
        color: white;
        @include tablet {
            padding-bottom: 10.5%;
            border-bottom: 3px solid white;
        }
        @include desktop {
            padding-bottom: 10%;
        }
        &::after {
            display: block;
            position: absolute;
            content: "";
            height: 3px;
            background-color: white;
            width: 50%;
            margin-top: 2vh;
            left: 50%;
            @include tablet {
                display: none;
            }
        }
    }
}
//hero starts here
.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url(/assets/images/hero-shows.jpg);
  background-size: cover;
  width: 100%;
  height: 30vh;
  @include desktop{
    height: 90vh;
  }
  @include tablet{
    height: 80vh;
  }
  &__name{
      color: white;
      font-size: 1rem;
      font-weight: 400;
      padding-bottom: 15vh;
      padding-left: 5vw;
      @include desktop{
        padding-bottom: 15vw;
        font-size: 1.5rem;
        font-weight: 600;
        padding-left: 10vw;
      }
      @include tablet{
        font-size: 1.5rem;
        width: 100%;
        padding-bottom: 55vh;
        font-family: 700;
        padding-left: 7vw;
      }
  }
  &__heading {
    position: absolute;
    color: white;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding-left: 5vw;
    width: 65%;
    @include tablet {
      font-size: 3.5rem;
      padding-bottom: 22vw;
      line-height: 4.5rem;
    }
    @include desktop {
      padding-bottom: 6vw;
      font-size: 3rem;
      padding-left: 10vw;
      width: 31%;
      line-height: 4rem;
    }
  }
  &__soundcloud{
    padding-top: 15vh;
    margin-right: 30vw;
    @include desktop{
      width: 35%;
      padding-left: 30vw;
      margin: 0%;
    }
    @include tablet{
      margin: 0;
      padding-top: 40vh;
      padding-right: 45vw;
    }
  }
}


.shows {
  padding-left: 5vw;
  &__container {
    margin-bottom: 1rem;
    width: 100%;
  }
  &__table {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    border-collapse: collapse;
    @include desktop{
      width: 80%;
      margin-left: 20vw;
    }
    @include tablet{
      margin-left: -2rem;
    }
    &--row {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      border-bottom: 0.0625rem solid $mercury;
      transition: transform;
      @include tablet{
        display: table-row;
      }
      &:hover {
        background-color: $alabaster;
        transform: background-color, 0.2s;
      }
    }
    &--button {
      height: 2.5rem;
      padding: 0 2rem;
      width: 95%;
      background-color: $bandsite-black;
      color: white;
      border: none;
      border-radius: 0.25rem;
      font-size: 1rem;
      @include tablet{
        margin: 0.7rem 0;
        width: 70%
      }
      @include desktop{
        width: 35%
      }
    };
    &-container {
      width: 100%;
    }
  }
}
.divider {
    width: 100vw;
}
.active-row {
    background-color: $mercury;
}
.text {
    &__header { 
      &--section{
        color: $bandsite-black;
        @include desktop{
          font-size: 1.8rem;
          font-weight: 600;
          padding-left: 5vw;
          padding-top: 3vh;
        }
      }     
      &--page {
      color: white;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
      position: absolute;
      max-width: 75%;
      top: 22.5%;
      z-index: 10;
      @include tablet{
        font-size: 3.5rem;
      }
      @include desktop{
        top: 50%;
        width: 50%;
      }
    }
    &--album {
      color: white;
      position: absolute;
      top: 10%;
      z-index: 10;
      @include tablet{
        font-size: 1.3rem;
        top: 15%;
      }
      @include desktop{
        top: 50%;
      }
    }
    &--mobile {
      font-weight: 600;
      font-size: 0.8125rem;
      line-height: 1.125rem;
      color: $silver;
      text-transform: uppercase;
      @include tablet{
        display: none;
      }
    }
    &--table {
      display: none;
      @include tablet{
        font-weight: 600;
        font-size: 1rem;
        color: $silver;
        text-align: left;
        display: table-cell;
      }
    }
  }
  &--shows {
    &-date {
      font-weight: 600;
      font-size: 0.8125rem;
      line-height: 1.125rem;
      color: $bandsite-black;
      margin-bottom: 1rem;
      @include tablet{
        padding-left: 1.2rem;
      }
      @include desktop{
        width: 9rem;
      }
    }
    &-venue {
      font-weight: 400;
      font-size: 0.8125rem;
      line-height: 1.125rem;
      color: $bandsite-black;
      margin-bottom: 1rem;
    }
    &-location {
      @extend .text--shows-venue;
    }
  }  
}